<div class="row">
    <div class="col-12">
      <h2>
        Find you best food
      </h2>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-md-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, ullam.
          <hr>
        </div>
        <div class="col-md-4">
          Aperiam a ut aut provident fuga molestiae repudiandae rerum reiciendis?
          <hr>
        </div>
        <div class="col-md-4">
          Maxime vitae pariatur sit illum repellat provident, officia alias ratione?
          <hr>
        </div>
        <div class="col-md-4">
          Explicabo repudiandae commodi neque error officia doloribus consequatur cupiditate tenetur.
          <hr>
        </div>
        <div class="col-md-4">
          Ducimus dolorum, consectetur reiciendis alias harum dolor dicta impedit ipsa.
          <hr>
        </div>
        <div class="col-md-4">
          Minima, distinctio quod aperiam et vel nisi quibusdam blanditiis sapiente!
          <hr>
        </div>
      </div>
    </div>
  </div>